<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Account Information</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body class="text-box">
    <h1>Account Info</h1>

    <h2>Current Username: </h2>
    <%- user -%>

    <h2>Current Password: </h2>
    <%- password -%>

    <h2>Delete Account</h2>

    <form method="post" action="/delete_acc">
      <p>
        <label for="username">Confirm Username:</label>
        <input type="text" name="username" id="username">
      </p>
      <p>
        <label for="password">Confirm Password:</label>
        <input type="text" name="password" id="password">
      </p>
      <p>
        <input type="submit" value="Delete account" class="login-btn">
      </p>
    </form>
    <div class = "sidenav">
      <form action="/login">
        <input type="submit" value="Login" class="login-btn" style="margin: 20px;"/>
      </form>
      <form action="/login">
        <input type="submit" value="Logout" class="login-btn" style="margin: 20px;"/>
      </form>
      <form action="/index">
        <input type="submit" value="Go to Home" class="login-btn" style="margin: 20px;"/>
      </form>
    </div>
  </body>
</html>