<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Username Exists</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="text-box" style="top: 20%;">
            <h1>To Do List</h1>
            <h2>This username isn't recognized or password is wrong, create an account or try again!</h2> 
            <form action="/login">
                <input type="submit" value="Go to Login" class="login-btn" id="acc-form"/>
            </form>
        </div>
    </body>
</html>