<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
  </head>

  <body>
    <div class="text-box">
      <h1>To Do List</h1>
      <h2>Login</h2>
      <h3>Hi, login here!</h3>
      <form method="post" action="/login">
        <p>
          <label for="username">Username</label>
          <input type="text" name="username" id="username">
        </p>
        <p>
          <label for="password">Password</label>
          <input type="text" name="password" id="password">
        </p>
        <p>
          <input type="submit" value="Login" class="login-btn">
        </p>
      </form>

        <h2>Create New Account</h2>

      <form method="post" action="/newacc">
        <p>
          <label for="username">Username</label>
          <input type="text" name="username" id="username">
        </p>
        <p>
          <label for="password">Password</label>
          <input type="text" name="password" id="password">
        </p>
        <p>
          <input type="submit" value="Create new account" class="login-btn">
        </p>
      </form>
    </div>
  </body>
</html>