<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
  </head>

  <body>
    <div class="text-box">
      <h1>To Do List</h1>
      <h2>Login</h2>
      <form method="post" action="/login">
        <p>
          <label for="username">Username</label>
          <input type="text" name="username" id="username">
        </p>
        <p>
          <label for="password">Password</label>
          <input type="text" name="password" id="password">
        </p>
        <p>
          <input type="submit" value="Login" class="login-btn">
        </p>
      </form>

      <h2>Create New Account</h2>

      <form method="post" action="/newacc">
        <p>
          <label for="username">Username</label>
          <input type="text" name="username" id="username">
        </p>
        <p>
          <label for="password">Password</label>
          <input type="text" name="password" id="password">
        </p>
        <p>
          <input type="submit" value="Create new account" class="login-btn">
        </p>
      </form>
    </div>
    <div class = "sidenav">
      <form action="/acc_info">
          <input type="submit" value="Account Info" class="login-btn" style="margin: 20px;"/>
      </form>
      <form action="/login">
          <input type="submit" value="Login" class="login-btn" style="margin: 20px;"/>
      </form>
      <form action="/index">
        <input type="submit" value="Go to Home" class="login-btn" style="margin: 20px;"/>
      </form>
    </div>
  </body>
</html>