<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Account Created</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="text-box" id="new-acc">
        <h1>To Do List</h1>
        <h2>Account has been created!<br>Please login with these credentials.</h2>
        <form action="/login">
            <input type="submit" value="Go to Login" class="login-btn" id="acc-form"/>
        </form>
    </div>
  </body>
</html>